{% extends 'home/layout_home.html.twig' %}

{% block title %}Strona Główna Dark Exist{% endblock %}

{% block main %}

    <div class="form-login-container">
        {{  form(the_form) }}
    </div>

{% endblock %}
